@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*değişkenler*/


:root{
    --white:#f5f5f5;
    --black:#121212;
    --green:#16ff00;
    --gray:#cdcccc;
    --green2: #15ff0047;

}

/*genel etiket stillendirmeleri*/
a{
    text-decoration: none;
    color: var(--white);
}

h1,h2,h3,h4{
    color: var(--white);
    font-family: 'Inter', sans-serif;
}

p{
    color: var(--gray);
}
button{
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease;

}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--black);
}
section{
    padding: 30px;
}
/*header alanı*/
header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    padding:  30px;
    z-index: 100;
   }
   nav{
    display: flex;
    gap: 30px;
   }

   .link{
    color: var(--green);
   }
   .nav-button{
    display: none;
   }
/*hero alanaı başlangıc*/

#hero{
    height: 50vh;
    background: url(../image/back.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;/*sayfa kayarken arka efekti sağlıyor*/

}

.hero-inner{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    border: 1px solid rgb(255,255,255,0.5);
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255,255,255,0.08);
    backdrop-filter: blur(5px);
    align-items: center;
    box-shadow: var(--green2) 0px 14px 28px, 0px 10px 10px;
}

.hero-inner h1{
    color: var(--green);
}
.buttons{
    display: flex;
    gap: 20px;
}

.hero-buttons > button{
    padding: 10px 40px;

}
.hero-buttons button:nth-child(1){
    background-color: var(--green);
}

/*hero alanı bitiş*/

/*pencereler alanı*/
#image-sec{
 display: flex;
 justify-content: space-between;
 gap: 100px;
}

.image-sec-info{
    max-width: 600px;
    display: grid;
  gap: 30px;

}

.image-sec-info h1{
    font-size: 35px;
}

.image-sec-info button:hover{
    border: 1px solid var(--green);
    background-color: var(--green2);
    color: var(--white);
}


.image{
    display: grid;
    grid-template-columns: auto auto auto;  
    gap: 50px;
}
.window{
    min-width: 200px;
    height: 400px;
    background: url(../image/sec2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
     border-radius: 40px 40px 0 0;
}

.window:nth-child(2){
    border-radius: 40px;
}

/*cards start*/
.card-sec-info{
 max-width: 600px;
 display: grid;
 gap: 40px;
}
 .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
 }
 .card{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
 }
.card video{
    width: 200px;
}
/*cards bitiş*/
 
/*liste alanı start*/
.step-sec-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .step-sec-info p {
    max-width: 400px;
  }
  
  .step-sec-info h1 {
    max-width: 360px;
  }
  
  #step-sec ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    margin-top: 40px;
  }
  
  #step-sec ul li h1 span {
    color: gray;
    font-size: 15px;
  }
  
  #step-sec ul li img {
    width: 50px;
  }
/*liste alanı bitiş*/














































   /*footer alanı*/
   footer {
    background-color: var(--black);
    padding: 40px;
  }
  
  .footer-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid var(--gray);
    padding-top: 20px;
    color: var(--gray);
  }
  
  .field {
    display: flex;
    gap: 10px;
  }
  
  .field input {
    padding: 5px 10px;
    border-radius: 10px;
    max-height: 50px;
  }
  
  .field button {
    background-color: var(--green);
    white-space: nowrap;
  }
  

   /*footer alanı bitiş*/




   /*responsive ayarlamaları*/

   @media (max-width:800px){
    .nav-button{
        display: block;
    }
    nav{
        display: none;
    }

    
        .toggle{
            display: flex;
            position: fixed;
            right: 0;
            flex-direction: column;
            top: 70px;
            background-color: var(--gray);
            padding: 20px;
            border-radius: 10px;
            margin: 20px;
        
           }
    }

    @media(max-width:1000px){
       .footer-area{
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
       }

       .footer-links{
        align-items: center;
       }

       .cards{
        grid-template-columns: 1fr;
        place-items: center;
       }

       .card{
        max-width: 400px;
       }
}
       @media(max-width:1200px){
        #image-sec{
            flex-direction: column;
            align-items: center;
        }
       }
    
   
